.hero {
  background: radial-gradient(circle at top, #e60f3a , #dbea0b);

}
.homepage {

  #wrap {
    background: #ececf4;
    
    .saas_plans_container {
      h2 {
        color: #494369;
        font-weight: 600;
        line-height: 42px;
      }
      p {
        color: #5e587a;
      }
      .plan_card {
        border-radius: 10px;
        background-color: #ffffff;
        border: 0px;
        .card-title {
          color: #494369;
          // border-bottom: 2px solid #f2f3f9 !important;
        }
        li {
          font-size: 18px !important;
          line-height: 35px;
          color: #21356e;
          .module_name {
            color: #21356e;
          }
        }
        .plan_button {
          button {
            background-color: #8a76fc;
            border: 1px solid #8a76fc;
            &:focus {
              box-shadow: none;
            }
            &:hover {
              background-color: #bdb3f5;
              border: 1px solid #bdb3f5;
            }
          }
          // &:hover {
          //   text-decoration: none !important;
          //   background-color: #bdb3f5;
          //   border: 1px solid #8a76fc;
          // }
        }
      }
    }
  }
}
